/forFail/bttd/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/forFail/bttd/.gradle/8.4/checksums/checksums.lock
/forFail/bttd/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/forFail/bttd/.gradle/8.4/executionHistory/executionHistory.lock
/forFail/bttd/.gradle/8.4/fileHashes/fileHashes.lock
.gradle/
